.banner {
    background-size: cover;
    text-align: center;
    height: 155px;

    @include min-screen($desktop) {
        height: 310px;
    }

    .banner__header {
        @include vertical-align();
        color: $white;
        font-family: $levato-black;
        font-size: 30px;
        text-transform: uppercase;

        @include min-screen($desktop) {
            font-size: 70px;
        }
    }
}

.banner--team {
    background-image: url('../img/banner-team.jpg');
}
