.banner {
    background-size: cover;
    text-align: center;
    height: 300px;

    @include min-screen($desktop) {
        height: 310px;
    }

    .banner__header {
        @include vertical-align();
        color: $white;
        font-family: $levato-black;
        font-size: 50px;
        text-transform: uppercase;

        @include min-screen($desktop) {
            font-size: 70px;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            margin-bottom: 10px;
            margin-left: -72.5px;
            width: 145px;
            height: 10px;
            background-color: $white;
        }

        &.banner__header--secondary {

            @include min-screen($desktop) {
                font-size: 40px;
                line-height: 40px;
            }
        }
    }
}

.banner--secondary__content {
    @include vertical-align();
    margin: 0 auto;

    @include min-screen($desktop) {
        width: 50%;
    }

    .banner__header {
        color: $base-font-color;

        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            margin-top: 30px;
            margin-left: -72.5px;
            width: 145px;
            height: 10px;
            background-color: #53524f;
        }
    }

    .banner__content {
        padding-top: 20px;
    }
}

.banner--team {
    background-image: url('../img/banner-team.jpg');
}

.banner--adults {
    background-image: url('../img/banner-adults.jpg');
}

.banner--adults-2 {
    height: 375px;
    background-image: url('../img/banner-adults-2.jpg');
    color: $base-font-color;
}

.banner--kids {
    height: 375px;
    background-image: url('../img/banner-kids.jpg');
    color: $base-font-color;
}

.banner--kids-2 {
    height: 375px;
    background-image: url('../img/banner-kids-2.jpg');
    background-position-x: 100%;
    background-repeat: no-repeat;
    color: $base-font-color;
}

.banner--kids-3 {
    background-image: url('../img/banner-kids-3.jpg');
    background-repeat: no-repeat;
    color: $base-font-color;

    .banner__header, .banner__content {
        color: $white;

        &:after {
            background-color: $white;
        }
    }
}

.banner--prices {
    background-image: url('../img/banner-prices.jpg');

    height: 430px;

    @include min-screen($desktop) {
        height: 450px;
    }

    .banner-title-container {
        height: 180px;

        @include min-screen($desktop) {
            height: 250px;
        }
    }

    .banner-nfz-logo-container {
        position: relative;
        top: 70px;

        display: none;

        @include min-screen($desktop) {
            display: block;
        }

        &--mobile {
            display: block;

            @include min-screen($desktop) {
                display: none;
            }
        }
    }
}

.banner--parents-2 {
    background-image: url('../img/horizon--desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;

    .banner__header {
        color: $white;

        &:after {
            background-color: $white;
        }
    }
}
