.banner {
    background-size: cover;
    text-align: center;
    height: 300px;

    @include min-screen($desktop) {
        height: 310px;
    }

    .banner__main-content {
        @include vertical-align();
    }

    .banner__header {

        color: $white;
        font-family: $levato-black;
        font-size: 50px;
        text-transform: uppercase;

        @include min-screen($desktop) {
            font-size: 70px;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            margin-bottom: 10px;
            margin-left: -72.5px;
            width: 145px;
            height: 10px;
            background-color: $white;

            @include min-screen($desktop){
                top: 92px;
            }
        }

        &.banner__header--secondary {

            @include min-screen($desktop) {
                font-size: 40px;
                line-height: 40px;
            }

            &:after {
                @include min-screen($desktop){
                    top: 75px;
                    margin-top: 0;
                }
            }
        }
    }

    .banner__content {
        margin: 21px auto 0;
        padding: 0 15px;

        @include min-screen($tablet) {
            max-width: 500px;
            margin: 60px auto;
        }
    }
}

.banner--secondary__content {
    @include vertical-align();
    margin: 0 auto;

    @include min-screen($desktop) {
        width: 50%;
    }

    .banner__header {
        color: $base-font-color;
        font-size: 30px;

        @include min-screen($desktop) {
            font-size: 50px;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            margin-top: 30px;
            margin-left: -72.5px;
            width: 145px;
            height: 10px;
            background-color: #53524f;
        }
    }

    .banner__content {
        padding-top: 20px;

        margin-top: 40px;

        @include min-screen($tablet) {
            margin-top: 70px;
        }
    }
}

.banner--team {
    background-image: url('../img/banner-team.jpg');
}

.banner--adults {
    background-image: url('../img/banner-adults.jpg');
}

.banner--adults-2 {
    height: 375px;
    background-image: url('../img/banner-adults-2.jpg');
    color: $base-font-color;
}

.banner--kids {
    background-image: url('../img/banner-kids.jpg');
    color: $base-font-color;
}

.banner--kids-2 {
    height: 375px;
    background-image: url('../img/banner-kids-2.jpg');
    background-position-x: 100%;
    background-repeat: no-repeat;
    color: $base-font-color;
}

.banner--kids-3 {
    background-image: url('../img/banner-kids-3.jpg');
    background-repeat: no-repeat;
    color: $base-font-color;

    .banner__header, .banner__content {
        color: $white;

        &:after {
            background-color: $white;
        }
    }
}

.banner--prices {
    background-image: url('../img/banner-prices.jpg');

    height: 430px;

    @include min-screen($desktop) {
        height: 450px;
    }

    .banner-title-container {
        height: 180px;

        @include min-screen($desktop) {
            height: 250px;
        }
    }

    .banner-nfz-logo-container {
        position: relative;
        top: 70px;

        display: none;

        @include min-screen($desktop) {
            display: block;
        }

        &--mobile {
            display: block;

            @include min-screen($desktop) {
                display: none;
            }
        }
    }
}

.banner--parents-2 {
    background-image: url('../img/horizon--desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;

    .banner__header {
        color: $white;

        &:after {
            background-color: $white;
        }
    }
}

.banner--about {
    background-image: url('../img/banner-about.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;

    @include min-screen($desktop) {
        min-height: 450px;
    }

    .banner__header {
        color: $white;

        &:after {
            background-color: $white;
        }
    }
}

ul#menu-additional {
    list-style-type: none;
    margin-top: 50px;
    padding: 0;
    width: 100%;

    li {
        display: inline;
        padding: 0 10px;

        a {
            color: $white;
            text-decoration: none;
        }

        &.active {
            a {
                color: $nav-hover;
            }
        }
    }
}
