footer {
    padding: 60px 20px 20px;
    background-color: $white;

    @include min-screen($desktop) {
        padding: 55px 10% 45px;
    }
}

.footer__info {
    @include min-screen($desktop) {
        margin-top: 45px;

        h2 {
            margin-top: 50px;
        }
    }
}

.footer__title {
    line-height: 40px;

    @include min-screen($tablet) {
        line-height: 2em;
    }

    @include min-screen($desktop) {
        line-height: 1em;
        font-size: 50px;
        text-align: center;
    }
}

.footer__image-container {
    text-align: center;
    margin: 40px 0;

    @include min-screen($desktop) {
        margin: 0;
    }
}

.footer__image {
    max-width: 160px;
}

.footer__address {
    margin-top: 0;
    font-family: $lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

.footer__office-hours {
    @extend .footer__address;

    margin: 10px 0;
    font-family: $levato-black;
}

.footer__social-media {
    margin-top: 30px;

    @include min-screen($tablet) {
        margin-top: 15px;
        display: inline-block;
    }

    .footer__social-media-icon {
        max-width: 40px;
    }
}

.footer__bottom {
    @include min-screen($desktop) {
        margin-top: 70px;

        .contact & {
            margin-top: 0;
        }
    }
}

.footer__copyright {
    margin-top: 30px;

    @include min-screen($tablet) {
        display: inline-block;
    }

    a {
        text-decoration: none;
    }

    p {
        margin-bottom: 0;
        font-family: $levato-black;
        font-size: 14px;
        font-weight: 20px;

        @include min-screen($tablet) {
            display: inline-block;
            margin-left: 30px;
        }

        @include min-screen($desktop) {
            margin-left: 60px;
        }
    }

}
