header {
    padding: 20px;
    height: 70px;
    box-sizing: border-box;

    @include min-screen($desktop) {
        padding: 20px 10%;
        height: 100px;
    }
}

.header__logo {
    max-width: 30px;

    @include min-screen($desktop) {
        max-width: 205px;
        display: inline-block;
    }
}

.nav-container {

    display: none;

    @include min-screen($desktop) {
        display: inline-block;
        float: right;
    }

    .navbar-nav {
        display: inline-block;

        li {
            display: inline-block;

            &.active {
                a {
                    color: $nav-hover;
                }
            }

            a {
                text-decoration: none;
                font-size: 16px;
                padding-left: 30px;
            }
        }
    }
}
