header {
    padding: 20px;
    height: 70px;
    box-sizing: border-box;

    @include min-screen($desktop) {
        padding: 20px 10%;
        height: 100px;
    }
}

.header__logo {
    max-width: 30px;

    @include min-screen($desktop) {
        max-width: 205px;
    }
}
