header {
    padding: 20px;
    height: 70px;
    box-sizing: border-box;

    @include min-screen($desktop) {
        padding: 20px 10%;
        height: 100px;
    }
}

.header__logo {
    max-width: 30px;
    float: left;
    clear: left;

    @include min-screen($desktop) {
        float: none;
        max-width: 205px;
        display: inline-block;
    }
}

.nav-container {

    display: none;

    .menu-open & {
        display: block;
    }

    @include max-screen(#{$desktop - 1}) {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 80px 30px 30px;
        background: $bg-menu;
        z-index: 1;
        text-align: center;
    }

    @include min-screen($desktop) {
        display: inline-block;
        float: right;
    }

    .navbar-nav {
        display: inline-block;

        text-align: center;

        list-style-type: none;
        padding-left: 0;

        @include min-screen($desktop) {
            text-align: left;
        }

        li {
            @include min-screen($desktop) {
                display: inline-block;
            }

            &.active {
                a {
                    color: $nav-hover;
                }
            }

            &.dropdown {
                @include min-screen($desktop) {
                    position: relative;
                    z-index: 100;
                }
            }

            a {
                display: block;
                text-decoration: none;
                font-size: 30px;
                line-height: 40px;
                letter-spacing: 0;
                margin-bottom: 10px;
                color: $white;

                @include min-screen($desktop) {
                    margin-bottom: 0;
                    padding-left: 15px;
                    font-size: 16px;
                    line-height: 22px;
                    letter-spacing: 0em;
                    color: $base-font-color;
                }

                @include min-screen($wide-desktop) {
                    letter-spacing: 0.15em;
                    padding-left: 30px;
                }
            }

            .dropdown-menu {

                list-style-type: none;
                margin-left: 0;
                padding: 0;

                a {
                    color: $white;
                    font-size: 20px;
                    line-height: 26px;

                    @include min-screen($desktop) {
                        font-size: 16px;
                        line-height: 24px;
                    }
                }

                @include min-screen($desktop) {
                    position: absolute;

                    left: 0;
                    right: 0;
                    margin-left: 10px;
                    margin-right: -20px;
                    padding: 10px 0 0;

                    background-color: $bg-color;

                    text-align: center;

                    visibility: hidden;
                    opacity: 0;
                    transition: all 100ms ease-in;

                    li {
                        display: block;

                        a {
                            padding-left: 0;
                            color: $base-font-color;
                            line-height: 36px;
                            transition: all 100ms ease-in;

                            &:hover {
                                color: $nav-hover;
                            }
                        }
                    }
                }
            }

            &:hover .dropdown-menu {

                @include min-screen($desktop) {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }
    }
}


.mobile-trigger__container {
    width: 40px;
    height: 40px;
    float: right;
    clear: right;

    .menu-open & {
        z-index: 3;
        position: absolute;
        right: 20px;
    }

    @include min-screen($desktop) {
        display: none;
    }

    a {
        position: relative;
        top: 5px;

        span {
            display: block;
            position: relative;
            width: 100%;
            height: 3px;
            margin-bottom: 10px;
            background-color: $base-font-color;

            transition: all 250ms ease-in;

            .menu-open & {

                &:first-of-type {
                    top: 12px;
                    transform: rotate(45deg);
                }

                &:last-of-type {
                    top: -13px;
                    transform: rotate(-45deg);
                }
            }
        }
    }
}

.znany-lekarz-trigger {

    display: block;
    color: $white;
    font-family: 'Lovelo Black';
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;

    &:hover {
        color: #f39a91;
    }

    @include min-screen($desktop) {
        display: inline-block;
        margin-left: 30px;
        font-size: 16px;
        color: #ffc299;
    }
}
