section {
    padding: 0 20px;

    @include min-screen($desktop) {
        padding: 0 10%;
    }
}

.section__page-title {
    position: relative;
    height: 333px;
    background-image: url('../img/page-title--mobile.png');
    background-size: cover;

    @include min-screen($desktop) {
        padding-top: 80px;

        background: none;

        &:before {
            content: '';
            position: absolute;
            top: 0;
            width: 90%;
            height: 150%;
            background-image: url('../img/page-title--desktop.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: 100% 0;
            z-index: -1;
        }

        // background-image: url('../img/page-title--desktop.png');
        // background-size: 54%;
        // background-repeat: no-repeat;
        // background-position: 100% 0
    }
}

.section__page-title-text {
    @include vertical-align();

    font-family: $levato-black;
    font-size: 30px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;

    @include min-screen($desktop) {
        @include disable-vertical-align();

        font-size: 60px;
        line-height: 60px;
        text-align: left;
    }
}

.section--text {
    margin: 60px auto;

    p {
        font-family: $lato;
        font-size: 14px;
        line-height: 25px;
    }
}

.section--text-small {
    text-align: center;

    .section--text-small__paragraph {
        font-size: 16px;
        line-height: 22px;
    }
}

.section--image {
    padding: 0;
}

// background-image property is set up by inline-style
.section--bg {
    background-size: cover;
    margin: 0;
    padding: 60px 20px;
}
