.readiness--white {
    @include min-screen($desktop) {
        background-color: white;
        padding-top: 50px;
        padding-bottom: 75px;
    }
}

.kids__readiness {

    @include min-screen($desktop) {
        height: 433px;
    }



    .readiness__content {
        @include vertical-align();

        @include min-screen($desktop) {
            max-width: 610px;
            padding-left: 16%;
        }

        p {
            font-size: 18px;
            line-height: 24px;
            margin-top: 20px;

            @include min-screen($desktop) {
                max-width: 360px;
            }
        }
    }
}

.kids-dyslexia {
    background: $bg-pink;
    text-align: center;

    .kids-dyslexia__content {
        @include vertical-align();
    }

    @include min-screen($desktop) {
        height: 255px;
    }

    h3 {
        font-size: 18px;
        line-height: 24px;
    }

    p {
        margin-top: 30px;
        font-size: 18px;
        line-height: 24px;
    }
}
