.team {

    .team__member {
        padding-bottom: 40px;
    }

    .team__photo {
        border-radius: 50%;
    }

    .team__name {
        height: 40px;

        margin-right: auto;
        margin-left: auto;

        font-family: $levato-black;
        font-size: 14px;
        line-height: 17px;
        text-align: center;

        @include min-screen($desktop) {
            max-width: 120px;
        }
    }

    .team__link {
        display: block;

        margin-right: auto;
        margin-left: auto;

        font-family: $levato-black;
        font-size: 14px;
        line-height: 17px;
        letter-spacing: .15em;
        text-align: center;
        text-transform: uppercase;
    }
}
