.team {

    .team__photo {
        border-radius: 50%;

        @include min-screen($desktop) {
            max-width: 160px;
        }
    }

    .team__name {
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 40px;

        font-family: $levato-black;
        font-size: 14px;
        line-height: 17px;
        text-align: center;

        @include min-screen($desktop) {
            max-width: 120px;
        }
    }
}
