// Brand colors
// -------------------------
$bg-color: #ffefdd;
$base-font-color: #53524f;
$white: #FFFFFF;
$bg-pink: #f39a91;
$nav-hover: #ffc299;



// Fonts
// -------------------------
$levato-black: 'Lovelo Black';
$lato: 'Lato';



// Grid configuration
// --------------------------
$desktop: 996px;
$wide-desktop: 1440px;

$breakpoints: (
    'palm' '(max-width: #{$desktop - 1})',
    'desk' '(min-width: #{$desktop})',
    'wide-desk' '(min-width: #{$wide-desktop})'
);

$breakpoint-has-widths: ('palm', 'desk', 'wide-desk');
$breakpoint-has-push:   ('palm', 'desk', 'wide-desk');
$breakpoint-has-pull:   ('palm', 'desk', 'wide-desk');
