@charset "UTF-8";
/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 2 */
}

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/*------------------------------------*\
    $CSSWIZARDRY-GRIDS
\*------------------------------------*/
/**
 * CONTENTS
 * INTRODUCTION.........How the grid system works.
 * VARIABLES............Your settings.
 * MIXINS...............Library mixins.
 * GRID SETUP...........Build the grid structure.
 * WIDTHS...............Build our responsive widths around our breakpoints.
 * PUSH.................Push classes.
 * PULL.................Pull classes.
 */
/*------------------------------------*\
    $INTRODUCTION
\*------------------------------------*/
/**
 * csswizardry grids provides you with widths to suit a number of breakpoints
 * designed around devices of a size you specify. Out of the box, csswizardry
 * grids caters to the following types of device:
 *
 * palm     --  palm-based devices, like phones and small tablets
 * lap      --  lap-based devices, like iPads or laptops
 * portable --  all of the above
 * desk     --  stationary devices, like desktop computers
 * regular  --  any/all types of device
 *
 * These namespaces are then used in the library to give you the ability to
 * manipulate your layouts based around them, for example:
 *
   <div class="grid__item  one-whole  lap--one-half  desk--one-third">
 *
 * This would give you a grid item which is 100% width unless it is on a lap
 * device, at which point it become 50% wide, or it is on a desktop device, at
 * which point it becomes 33.333% width.
 *
 * csswizardry grids also has push and pull classes which allow you to nudge
 * grid items left and right by a defined amount. These follow the same naming
 * convention as above, but are prepended by either `push--` or `pull--`, for
 * example:
 *
   `class="grid__item  one-half  push--one-half"`
 *
 * This would give you a grid item which is 50% width and pushed over to the
 * right by 50%.
 *
 * All classes in csswizardry grids follow this patten, so you should fairly
 * quickly be able to piece together any combinations you can imagine, for
 * example:
 *
   `class="grid__item  one-whole  lap--one-half  desk--one-third  push--desk--one-third"`
 *
   `class="grid__item  one-quarter  palm--one-half  push--palm--one-half"`
 *
   `class="grid__item  palm--one-third  desk--five-twelfths"`
 */
/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/
/**
 * If you are building a non-responsive site but would still like to use
 * csswizardry-grids, set this to ‘false’:
 */
/**
 * Is this build mobile first? Setting to ‘true’ means that all grids will be
 * 100% width if you do not apply a more specific class to them.
 */
/**
 * Set the spacing between your grid items.
 */
/**
 * Would you like Sass’ silent classes, or regular CSS classes?
 */
/**
 * Would you like push and pull classes enabled?
 */
/**
 * Using `inline-block` means that the grid items need their whitespace removing
 * in order for them to work correctly. Set the following to true if you are
 * going to achieve this by manually removing/commenting out any whitespace in
 * your HTML yourself.
 *
 * Setting this to false invokes a hack which cannot always be guaranteed,
 * please see the following for more detail:
 *
 * github.com/csswizardry/csswizardry-grids/commit/744d4b23c9d2b77d605b5991e54a397df72e0688
 * github.com/csswizardry/inuit.css/issues/170#issuecomment-14859371
 */
/**
 * Define your breakpoints. The first value is the prefix that shall be used for
 * your classes (e.g. `.palm--one-half`), the second value is the media query
 * that the breakpoint fires at.
 */
/**
 * Define which namespaced breakpoints you would like to generate for each of
 * widths, push and pull. This is handy if you only need pull on, say, desk, or
 * you only need a new width breakpoint at mobile sizes. It allows you to only
 * compile as much CSS as you need. All are turned on by default, but you can
 * add and remove breakpoints at will.
 *
 * Push and pull shall only be used if `$push` and/or `$pull` and `$responsive`
 * have been set to ‘true’.
 */
/**
 * You do not need to edit anything from this line onward; csswizardry-grids is
 * good to go. Happy griddin’!
 */
/*------------------------------------*\
    $MIXINS
\*------------------------------------*/
/**
 * These mixins are for the library to use only, you should not need to modify
 * them at all.
 *
 * Enclose a block of code with a media query as named in `$breakpoints`.
 */
/**
 * Drop relative positioning into silent classes which can’t take advantage of
 * the `[class*="push--"]` and `[class*="pull--"]` selectors.
 */
/*------------------------------------*\
    $GRID SETUP
\*------------------------------------*/
/**
 * 1. Allow the grid system to be used on lists.
 * 2. Remove any margins and paddings that might affect the grid system.
 * 3. Apply a negative `margin-left` to negate the columns’ gutters.
 */
.grid {
  list-style: none;
  /* [1] */
  margin: 0;
  /* [2] */
  padding: 0;
  /* [2] */
  margin-left: -24px;
  /* [3] */
}

/**
 * 1. Cause columns to stack side-by-side.
 * 2. Space columns apart.
 * 3. Align columns to the tops of each other.
 * 4. Full-width unless told to behave otherwise.
 * 5. Required to combine fluid widths and fixed gutters.
 */
.grid__item {
  display: inline-block;
  /* [1] */
  padding-left: 24px;
  /* [2] */
  vertical-align: top;
  /* [3] */
  width: 100%;
  /* [4] */
  -webkit-box-sizing: border-box;
  /* [5] */
  /* [5] */
  box-sizing: border-box;
  /* [5] */
}

/**
 * Reversed grids allow you to structure your source in the opposite order to
 * how your rendered layout will appear. Extends `.grid`.
 */
.grid--rev {
  direction: rtl;
  text-align: left;
}
.grid--rev > .grid__item {
  direction: ltr;
  text-align: left;
}

/**
 * Gutterless grids have all the properties of regular grids, minus any spacing.
 * Extends `.grid`.
 */
.grid--full {
  margin-left: 0;
}
.grid--full > .grid__item {
  padding-left: 0;
}

/**
 * Align the entire grid to the right. Extends `.grid`.
 */
.grid--right {
  text-align: right;
}
.grid--right > .grid__item {
  text-align: left;
}

/**
 * Centered grids align grid items centrally without needing to use push or pull
 * classes. Extends `.grid`.
 */
.grid--center {
  text-align: center;
}
.grid--center > .grid__item {
  text-align: left;
}

/**
 * Align grid cells vertically (`.grid--middle` or `.grid--bottom`). Extends
 * `.grid`.
 */
.grid--middle > .grid__item {
  vertical-align: middle;
}

.grid--bottom > .grid__item {
  vertical-align: bottom;
}

/**
 * Create grids with narrower gutters. Extends `.grid`.
 */
.grid--narrow {
  margin-left: -12px;
}
.grid--narrow > .grid__item {
  padding-left: 12px;
}

/**
 * Create grids with wider gutters. Extends `.grid`.
 */
.grid--wide {
  margin-left: -48px;
}
.grid--wide > .grid__item {
  padding-left: 48px;
}

/*------------------------------------*\
    $WIDTHS
\*------------------------------------*/
/**
 * Create our width classes, prefixed by the specified namespace.
 */
/**
 * Our regular, non-responsive width classes.
 */
/**
 * Whole
 */
.one-whole {
  width: 100%;
}

/**
 * Halves
 */
.one-half, .two-quarters, .three-sixths, .four-eighths, .five-tenths, .six-twelfths {
  width: 50%;
}

/**
 * Thirds
 */
.one-third, .two-sixths, .four-twelfths {
  width: 33.333%;
}

.two-thirds, .four-sixths, .eight-twelfths {
  width: 66.666%;
}

/**
 * Quarters
 */
.one-quarter, .two-eighths, .three-twelfths {
  width: 25%;
}

.three-quarters, .six-eighths, .nine-twelfths {
  width: 75%;
}

/**
 * Fifths
 */
.one-fifth, .two-tenths {
  width: 20%;
}

.two-fifths, .four-tenths {
  width: 40%;
}

.three-fifths, .six-tenths {
  width: 60%;
}

.four-fifths, .eight-tenths {
  width: 80%;
}

/**
 * Sixths
 */
.one-sixth, .two-twelfths {
  width: 16.666%;
}

.five-sixths, .ten-twelfths {
  width: 83.333%;
}

/**
 * Eighths
 */
.one-eighth {
  width: 12.5%;
}

.three-eighths {
  width: 37.5%;
}

.five-eighths {
  width: 62.5%;
}

.seven-eighths {
  width: 87.5%;
}

/**
 * Tenths
 */
.one-tenth {
  width: 10%;
}

.three-tenths {
  width: 30%;
}

.seven-tenths {
  width: 70%;
}

.nine-tenths {
  width: 90%;
}

/**
 * Twelfths
 */
.one-twelfth {
  width: 8.333%;
}

.five-twelfths {
  width: 41.666%;
}

.seven-twelfths {
  width: 58.333%;
}

.eleven-twelfths {
  width: 91.666%;
}

/**
 * Our responsive classes, if we have enabled them.
 */
@media only screen and (max-width: 995px) {
  /**
   * Whole
   */
  .palm--one-whole {
    width: 100%;
  }

  /**
   * Halves
   */
  .palm--one-half, .palm--two-quarters, .palm--three-sixths, .palm--four-eighths, .palm--five-tenths, .palm--six-twelfths {
    width: 50%;
  }

  /**
   * Thirds
   */
  .palm--one-third, .palm--two-sixths, .palm--four-twelfths {
    width: 33.333%;
  }

  .palm--two-thirds, .palm--four-sixths, .palm--eight-twelfths {
    width: 66.666%;
  }

  /**
   * Quarters
   */
  .palm--one-quarter, .palm--two-eighths, .palm--three-twelfths {
    width: 25%;
  }

  .palm--three-quarters, .palm--six-eighths, .palm--nine-twelfths {
    width: 75%;
  }

  /**
   * Fifths
   */
  .palm--one-fifth, .palm--two-tenths {
    width: 20%;
  }

  .palm--two-fifths, .palm--four-tenths {
    width: 40%;
  }

  .palm--three-fifths, .palm--six-tenths {
    width: 60%;
  }

  .palm--four-fifths, .palm--eight-tenths {
    width: 80%;
  }

  /**
   * Sixths
   */
  .palm--one-sixth, .palm--two-twelfths {
    width: 16.666%;
  }

  .palm--five-sixths, .palm--ten-twelfths {
    width: 83.333%;
  }

  /**
   * Eighths
   */
  .palm--one-eighth {
    width: 12.5%;
  }

  .palm--three-eighths {
    width: 37.5%;
  }

  .palm--five-eighths {
    width: 62.5%;
  }

  .palm--seven-eighths {
    width: 87.5%;
  }

  /**
   * Tenths
   */
  .palm--one-tenth {
    width: 10%;
  }

  .palm--three-tenths {
    width: 30%;
  }

  .palm--seven-tenths {
    width: 70%;
  }

  .palm--nine-tenths {
    width: 90%;
  }

  /**
   * Twelfths
   */
  .palm--one-twelfth {
    width: 8.333%;
  }

  .palm--five-twelfths {
    width: 41.666%;
  }

  .palm--seven-twelfths {
    width: 58.333%;
  }

  .palm--eleven-twelfths {
    width: 91.666%;
  }
}
@media only screen and (min-width: 996px) {
  /**
   * Whole
   */
  .desk--one-whole {
    width: 100%;
  }

  /**
   * Halves
   */
  .desk--one-half, .desk--two-quarters, .desk--three-sixths, .desk--four-eighths, .desk--five-tenths, .desk--six-twelfths {
    width: 50%;
  }

  /**
   * Thirds
   */
  .desk--one-third, .desk--two-sixths, .desk--four-twelfths {
    width: 33.333%;
  }

  .desk--two-thirds, .desk--four-sixths, .desk--eight-twelfths {
    width: 66.666%;
  }

  /**
   * Quarters
   */
  .desk--one-quarter, .desk--two-eighths, .desk--three-twelfths {
    width: 25%;
  }

  .desk--three-quarters, .desk--six-eighths, .desk--nine-twelfths {
    width: 75%;
  }

  /**
   * Fifths
   */
  .desk--one-fifth, .desk--two-tenths {
    width: 20%;
  }

  .desk--two-fifths, .desk--four-tenths {
    width: 40%;
  }

  .desk--three-fifths, .desk--six-tenths {
    width: 60%;
  }

  .desk--four-fifths, .desk--eight-tenths {
    width: 80%;
  }

  /**
   * Sixths
   */
  .desk--one-sixth, .desk--two-twelfths {
    width: 16.666%;
  }

  .desk--five-sixths, .desk--ten-twelfths {
    width: 83.333%;
  }

  /**
   * Eighths
   */
  .desk--one-eighth {
    width: 12.5%;
  }

  .desk--three-eighths {
    width: 37.5%;
  }

  .desk--five-eighths {
    width: 62.5%;
  }

  .desk--seven-eighths {
    width: 87.5%;
  }

  /**
   * Tenths
   */
  .desk--one-tenth {
    width: 10%;
  }

  .desk--three-tenths {
    width: 30%;
  }

  .desk--seven-tenths {
    width: 70%;
  }

  .desk--nine-tenths {
    width: 90%;
  }

  /**
   * Twelfths
   */
  .desk--one-twelfth {
    width: 8.333%;
  }

  .desk--five-twelfths {
    width: 41.666%;
  }

  .desk--seven-twelfths {
    width: 58.333%;
  }

  .desk--eleven-twelfths {
    width: 91.666%;
  }
}
@media only screen and (min-width: 1440px) {
  /**
   * Whole
   */
  .wide-desk--one-whole {
    width: 100%;
  }

  /**
   * Halves
   */
  .wide-desk--one-half, .wide-desk--two-quarters, .wide-desk--three-sixths, .wide-desk--four-eighths, .wide-desk--five-tenths, .wide-desk--six-twelfths {
    width: 50%;
  }

  /**
   * Thirds
   */
  .wide-desk--one-third, .wide-desk--two-sixths, .wide-desk--four-twelfths {
    width: 33.333%;
  }

  .wide-desk--two-thirds, .wide-desk--four-sixths, .wide-desk--eight-twelfths {
    width: 66.666%;
  }

  /**
   * Quarters
   */
  .wide-desk--one-quarter, .wide-desk--two-eighths, .wide-desk--three-twelfths {
    width: 25%;
  }

  .wide-desk--three-quarters, .wide-desk--six-eighths, .wide-desk--nine-twelfths {
    width: 75%;
  }

  /**
   * Fifths
   */
  .wide-desk--one-fifth, .wide-desk--two-tenths {
    width: 20%;
  }

  .wide-desk--two-fifths, .wide-desk--four-tenths {
    width: 40%;
  }

  .wide-desk--three-fifths, .wide-desk--six-tenths {
    width: 60%;
  }

  .wide-desk--four-fifths, .wide-desk--eight-tenths {
    width: 80%;
  }

  /**
   * Sixths
   */
  .wide-desk--one-sixth, .wide-desk--two-twelfths {
    width: 16.666%;
  }

  .wide-desk--five-sixths, .wide-desk--ten-twelfths {
    width: 83.333%;
  }

  /**
   * Eighths
   */
  .wide-desk--one-eighth {
    width: 12.5%;
  }

  .wide-desk--three-eighths {
    width: 37.5%;
  }

  .wide-desk--five-eighths {
    width: 62.5%;
  }

  .wide-desk--seven-eighths {
    width: 87.5%;
  }

  /**
   * Tenths
   */
  .wide-desk--one-tenth {
    width: 10%;
  }

  .wide-desk--three-tenths {
    width: 30%;
  }

  .wide-desk--seven-tenths {
    width: 70%;
  }

  .wide-desk--nine-tenths {
    width: 90%;
  }

  /**
   * Twelfths
   */
  .wide-desk--one-twelfth {
    width: 8.333%;
  }

  .wide-desk--five-twelfths {
    width: 41.666%;
  }

  .wide-desk--seven-twelfths {
    width: 58.333%;
  }

  .wide-desk--eleven-twelfths {
    width: 91.666%;
  }
}
/*------------------------------------*\
    $PUSH
\*------------------------------------*/
/**
 * Push classes, to move grid items over to the right by certain amounts.
 */
/*------------------------------------*\
    $PULL
\*------------------------------------*/
/**
 * Pull classes, to move grid items back to the left by certain amounts.
 */
@media only screen and (max-width: 995px) {
  .palm-hide {
    display: none;
  }

  .palm-opaque {
    opacity: 0;
  }

  .palm-show {
    display: inline-block;
    opacity: 1;
  }
}
@media only screen and (min-width: 996px) {
  .desk-hide {
    display: none;
  }

  .desk-opaque {
    opacity: 0;
  }

  .desk-show {
    display: inline-block;
    opacity: 1;
  }
}
@media only screen and (min-width: 1440px) {
  .wide-desk-hide {
    display: none;
  }

  .wide-desk-opaque {
    opacity: 0;
  }

  .wide-desk-show {
    display: inline-block;
    opacity: 1;
  }
}
body {
  background-color: #ffefdd;
  color: #53524f;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

h2 {
  font-family: "Lovelo Black";
  font-size: 30px;
  line-height: 40px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}

h3 {
  font-family: "Lovelo Black";
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: #53524f;
  font-family: "Lovelo Black";
  font-size: 14px;
  letter-spacing: 0.15em;
  text-transform: underline;
}

img {
  max-width: 100%;
  height: auto;
}

input {
  appearance: none;
}

@font-face {
  font-family: Lovelo Black;
  src: url("../fonts/Lovelo Black.otf");
}
header {
  padding: 20px;
  height: 70px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
@media only screen and (min-width: 996px) {
  header {
    padding: 20px 10%;
    height: 100px;
  }
}

.header__logo {
  max-width: 30px;
}
@media only screen and (min-width: 996px) {
  .header__logo {
    max-width: 205px;
  }
}

section {
  padding: 0 20px;
}
@media only screen and (min-width: 996px) {
  section {
    padding: 0 10%;
  }
}

.section-title {
  padding: 20px 0;
  font-family: "Lovelo Black";
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (min-width: 996px) {
  .section-title {
    padding: 50px 0;
    font-size: 30px;
    line-height: 40px;
  }
}
.section-title.section-title--left {
  text-align: left;
  font-size: 30px;
  line-height: 40px;
}
@media only screen and (min-width: 996px) {
  .section-title.section-title--left {
    padding-bottom: 0;
    font-size: 40px;
    font-weight: 600;
  }
}

.section-tagline {
  padding: 20px 0;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .15em;
}
@media only screen and (min-width: 996px) {
  .section-tagline {
    padding: 0;
  }
}

.section-content {
  font-size: 16px;
  line-height: 24px;
}

.section__page-title {
  position: relative;
  height: 333px;
  background-image: url("../img/page-title--mobile.png");
  -webkit-background-size: cover;
          background-size: cover;
}
@media only screen and (min-width: 996px) {
  .section__page-title {
    padding-top: 80px;
    height: auto;
    background: none;
  }
}

.section__page-title-text {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
     transform: translateY(-50%);
  font-family: "Lovelo Black";
  font-size: 30px;
  line-height: 30px;
  text-align: center;
  text-transform: uppercase;
}
@media only screen and (min-width: 996px) {
  .section__page-title-text {
    top: 0;
    -webkit-transform: none;
        -ms-transform: none;
         -o-transform: none;
            transform: none;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
}

.section--text {
  margin: 60px auto;
}
@media only screen and (min-width: 996px) {
  .section--text {
    margin: 0 auto;
  }
}
.section--text p {
  font-family: "Lato";
  font-size: 14px;
  line-height: 25px;
}
@media only screen and (min-width: 996px) {
  .section--text p {
    font-size: 18px;
  }
}

.section--text-small {
  text-align: center;
}
.section--text-small .section--text-small__paragraph {
  font-size: 16px;
  line-height: 22px;
}
@media only screen and (min-width: 996px) {
  .section--text-small .section--text-small__paragraph {
    font-size: 18px;
    line-height: 24px;
  }
}

.section--image {
  padding: 0;
}
@media only screen and (min-width: 996px) {
  .section--image {
    margin: 85px 0;
    padding: 0 10%;
  }
}

.section--bg {
  -webkit-background-size: cover;
          background-size: cover;
  margin: 0;
  padding: 60px 20px;
}
@media only screen and (min-width: 996px) {
  .section--bg {
    padding: 60px 10%;
  }
}

@media only screen and (min-width: 996px) {
  .content-row {
    padding-top: 55px;
  }
}

.section--transparent h2 {
  text-align: center;
}
@media only screen and (min-width: 996px) {
  .section--transparent h2 {
    margin-top: 100px;
    margin-bottom: 45px;
  }
}
.section--transparent h3 {
  font-size: 24px;
  text-align: center;
}
@media only screen and (min-width: 996px) {
  .section--transparent h3 {
    margin-bottom: 50px;
  }
}
.section--transparent p {
  font-size: 16px;
  line-height: 25px;
}
@media only screen and (min-width: 996px) {
  .section--transparent p {
    max-width: 50%;
    margin: 0 auto;
  }
}

.banner {
  -webkit-background-size: cover;
          background-size: cover;
  text-align: center;
  height: 300px;
}
@media only screen and (min-width: 996px) {
  .banner {
    height: 310px;
  }
}
.banner .banner__header {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
     transform: translateY(-50%);
  color: #FFFFFF;
  font-family: "Lovelo Black";
  font-size: 50px;
  text-transform: uppercase;
}
@media only screen and (min-width: 996px) {
  .banner .banner__header {
    font-size: 70px;
  }
}
.banner .banner__header:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  margin-bottom: 10px;
  margin-left: -72.5px;
  width: 145px;
  height: 10px;
  background-color: #FFFFFF;
}
@media only screen and (min-width: 996px) {
  .banner .banner__header.banner__header--secondary {
    font-size: 40px;
    line-height: 40px;
  }
}

.banner--secondary__content {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
     transform: translateY(-50%);
  margin: 0 auto;
}
@media only screen and (min-width: 996px) {
  .banner--secondary__content {
    width: 50%;
  }
}
.banner--secondary__content .banner__header {
  color: #53524f;
}
.banner--secondary__content .banner__header:after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  margin-top: 30px;
  margin-left: -72.5px;
  width: 145px;
  height: 10px;
  background-color: #53524f;
}
.banner--secondary__content .banner__content {
  padding-top: 20px;
}

.banner--team {
  background-image: url("../img/banner-team.jpg");
}

.banner--adults {
  background-image: url("../img/banner-adults.jpg");
}

.banner--adults-2 {
  height: 375px;
  background-image: url("../img/banner-adults-2.jpg");
  color: #53524f;
}

.banner--kids {
  height: 375px;
  background-image: url("../img/banner-kids.jpg");
  color: #53524f;
}

.banner--kids-2 {
  height: 375px;
  background-image: url("../img/banner-kids-2.jpg");
  background-position-x: 100%;
  background-repeat: no-repeat;
  color: #53524f;
}

.banner--kids-3 {
  background-image: url("../img/banner-kids-3.jpg");
  background-repeat: no-repeat;
  color: #53524f;
}
.banner--kids-3 .banner__header, .banner--kids-3 .banner__content {
  color: #FFFFFF;
}
.banner--kids-3 .banner__header:after, .banner--kids-3 .banner__content:after {
  background-color: #FFFFFF;
}

footer {
  padding: 60px 20px 20px;
  background-color: #FFFFFF;
}
@media only screen and (min-width: 996px) {
  footer {
    padding: 55px 10% 45px;
  }
}

@media only screen and (min-width: 996px) {
  .footer__info {
    margin-top: 45px;
  }
  .footer__info h2 {
    margin-top: 50px;
  }
}

.footer__title {
  line-height: 40px;
}
@media only screen and (min-width: 996px) {
  .footer__title {
    font-size: 50px;
    line-height: 1em;
    text-align: center;
  }
}

.footer__image-container {
  text-align: center;
  margin: 40px 0;
}
@media only screen and (min-width: 996px) {
  .footer__image-container {
    margin: 0;
  }
}

.footer__image {
  max-width: 160px;
}

.footer__address, .footer__office-hours {
  margin-top: 0;
  font-family: "Lato";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}

.footer__office-hours {
  margin: 10px 0;
  font-family: "Lovelo Black";
}

.footer__social-media {
  margin-top: 30px;
}
@media only screen and (min-width: 996px) {
  .footer__social-media {
    display: inline-block;
  }
}
.footer__social-media .footer__social-media-icon {
  max-width: 40px;
}

@media only screen and (min-width: 996px) {
  .footer__bottom {
    margin-top: 70px;
  }
}

.footer__copyright {
  margin-top: 30px;
}
@media only screen and (min-width: 996px) {
  .footer__copyright {
    display: inline-block;
  }
}
.footer__copyright a {
  text-decoration: none;
}
.footer__copyright p {
  margin-bottom: 0;
  font-family: "Lovelo Black";
  font-size: 14px;
  font-weight: 20px;
}
@media only screen and (min-width: 996px) {
  .footer__copyright p {
    display: inline-block;
    margin-left: 60px;
  }
}

.home .home__title {
  max-width: 850px;
}
@media only screen and (min-width: 996px) {
  .home .home__background-container {
    top: 0;
    width: 100%;
    height: auto;
    padding-bottom: 60px;
    background-image: url("../img/page-title--desktop.png");
    -webkit-background-size: 55% auto;
            background-size: 55% auto;
    background-repeat: no-repeat;
    background-position: 100% 0;
  }
}
@media only screen and (min-width: 996px) {
  .home .home__parents {
    margin-top: 180px;
  }
}
.home .home__kids .section--text {
  margin-top: 50px;
}
.home .home__kids img {
  width: 100%;
}
.home .home__adults {
  background-image: url("../img/horizon.png");
}
@media only screen and (min-width: 996px) {
  .home .home__adults {
    background-image: url("../img/horizon--desktop.png");
  }
}
.home .home__peace {
  padding-top: 60px;
  padding-bottom: 45px;
  position: relative;
}
@media only screen and (min-width: 996px) {
  .home .home__peace h3:after {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    margin-top: 30px;
    margin-left: -72.5px;
    width: 145px;
    height: 10px;
    background-color: #53524f;
  }
}
@media only screen and (min-width: 996px) {
  .home .home__peace p {
    padding-top: 50px;
  }
}

.team .team__member {
  padding-bottom: 40px;
}
.team .team__photo {
  border-radius: 50%;
}
.team .team__name {
  height: 40px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Lovelo Black";
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}
@media only screen and (min-width: 996px) {
  .team .team__name {
    max-width: 120px;
  }
}
.team .team__link {
  display: block;
  margin-right: auto;
  margin-left: auto;
  font-family: "Lovelo Black";
  font-size: 14px;
  line-height: 17px;
  letter-spacing: .15em;
  text-align: center;
  text-transform: uppercase;
}

.adults {
  padding-bottom: 50px;
}

body.adults {
  padding-bottom: 0;
}

@media only screen and (min-width: 996px) {
  .kids__readiness {
    height: 433px;
  }
}
.kids__readiness .readiness__content {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
     transform: translateY(-50%);
}
@media only screen and (min-width: 996px) {
  .kids__readiness .readiness__content {
    max-width: 610px;
    padding-left: 16%;
  }
}
.kids__readiness .readiness__content p {
  font-size: 18px;
  line-height: 24px;
}
@media only screen and (min-width: 996px) {
  .kids__readiness .readiness__content p {
    max-width: 360px;
  }
}

.kids-dyslexia {
  background: #f39a91;
  text-align: center;
}
.kids-dyslexia .kids-dyslexia__content {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
     transform: translateY(-50%);
}
@media only screen and (min-width: 996px) {
  .kids-dyslexia {
    margin-top: 75px;
    height: 255px;
  }
}
.kids-dyslexia h3 {
  font-size: 18px;
  line-height: 24px;
}
.kids-dyslexia p {
  margin-top: 30px;
  font-size: 18px;
  line-height: 24px;
}

.contact-container {
  background-image: url("../img/bg-contact-mobile.jpg");
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover;
}
@media only screen and (min-width: 996px) {
  .contact-container {
    height: 610px;
    background-image: url("../img/bg-contact.jpg");
  }
}
.contact-container .contact__headline {
  padding-top: 30px;
  color: #FFFFFF;
  font-family: "Lovelo Black";
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
}
@media only screen and (min-width: 996px) {
  .contact-container .contact__headline {
    padding-top: 45px;
    font-size: 70px;
  }
}
@media only screen and (min-width: 996px) {
  .contact-container .contact__form {
    margin-top: 70px;
  }
}
.contact-container .contact__column-headline {
  padding-top: 30px;
  color: #FFFFFF;
  font-family: "Lovelo Black";
  font-size: 30px;
  text-transform: uppercase;
}
@media only screen and (min-width: 996px) {
  .contact-container .contact__column-headline {
    padding: 0;
    font-size: 32px;
  }
}
.contact-container .contact__column-headline.contact__column-headline--center {
  text-align: center;
}
.contact-container .contact__address, .contact-container .contact__office-hours {
  color: #FFFFFF;
  margin-top: 0;
  font-family: "Lato";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
.contact-container .contact__address a, .contact-container .contact__office-hours a {
  color: #FFFFFF;
  margin-top: 0;
  font-family: "Lato";
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0;
  text-decoration: none;
}
.contact-container .contact__office-hours {
  margin: 10px 0;
  font-family: "Lovelo Black";
}
.contact-container input[type="email"],
.contact-container textarea {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  border: 1px solid #FFFFFF;
  background-color: transparent !important;
  color: #FFFFFF;
}
.contact-container input[type="email"]::-moz-placeholder,
.contact-container textarea::-moz-placeholder {
  color: #FFFFFF;
  opacity: 1;
}
.contact-container input[type="email"]:-ms-input-placeholder,
.contact-container textarea:-ms-input-placeholder {
  color: #FFFFFF;
}
.contact-container input[type="email"]::-webkit-input-placeholder,
.contact-container textarea::-webkit-input-placeholder {
  color: #FFFFFF;
}
.contact-container input[type="email"]::placeholder,
.contact-container textarea::placeholder {
  font-weight: 600;
}
.contact-container input[type="email"] {
  margin-top: 20px;
  margin-bottom: 30px;
}
.contact-container input[type="submit"] {
  display: block;
  margin: 30px auto 0;
  border: 0;
  border-bottom: 2px solid #FFFFFF;
  background: transparent;
  color: #FFFFFF;
  font-family: "Lovelo Black";
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}

.map-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 420px;
}
.map-container #map-canvas {
  height: 100%;
}

/*# sourceMappingURL=main.css.map */